<!DOCTYPE html>
<html>
<head>
<title>sprite layout</title>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet"  type="text/css" href="../src/css/app.css" />
<link rel="stylesheet"  type="text/css" href="../src/css/screen.css" />
</head>

<body>
<h1>sprites</h1>
<div class="icon-layout">
    <div class="icon-slot"><div class="icon-red"></div><p>icon-red</p></div>
    <div class="icon-slot"><div class="icon-blue"></div><p>icon-blue</p></div>
    <div class="icon-slot inverse"><div class="icon-yellow"></div><p>icon-yellow</p></div>
<div> 
</body>

</html>

